#crie o arquivo .env com as seguintes variáveis de ambiente (presente no grupo de comunicação do projeto):
EXPO_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=seu-anon-key